.container{
    display: grid;
    grid-template-areas:
            "header"
            "section"
            "footer";
    grid-gap: 10px;

}
section{
    color: white;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
    font-size: xx-large;
}

header{
    background-color: white;
    text-align: center;
    font-size: larger;
    margin-left: 50px;
    margin-right: 50px;
}
body{
    background-color: red;
}
footer{
    background-color: white;
    font-size: x-large;
    margin-left: 50px;
    margin-right: 50px;
}
button{
    background-color: white;
    font-size: xx-large;
}